#table {
  background-color: rgb(177, 61, 61);
  margin: auto;
  height: auto;
  width: auto;
  border: 1px solid black;
  text-align: center;
}
.square {
  height: 25px;
  width: 25px;
}
canvas {
  border: 2px solid darkgray;
}
